@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
        background-color: gray;
        font-family: cursive;
}

#imagem {
    position:  relative;
    height: 319px;
}

.titulo {
    position: absolute;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    top: 10px;
    left: 10px;
}

  