@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F252D8, #F285E0);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #F23545;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F2778D ;
    text-align: center;
    text-shadow: 1px 1px 2px #F23545;
}

h2 {
    color: #F23545  ;
}
p {
    text-align: justify;
}